.el-form-item {
  display: contents; // To reduce interference from the form style, only its validation function needs to be used.
}

// :deep .el-divider__text {
//   // background-color:
// }
:deep(.el-divider__text.is-left) {
  font-size: 20px;
  font-weight: 600;
}
